@font-face
    font-family 'HelveticaNow'
    src url('./../assets/HelveticaNowTextMedium.otf')
    font-weight 400

@font-face
    font-family 'HelveticaNow'
    src url('./../assets/HelveticaNowTextExtraLight.otf')
    font-weight 200

@font-face
    font-family 'HelveticaNow'
    src url('./../assets/HelveticaNowTextBold.otf')
    font-weight 600

naviHeight = 70px

html, body
    padding 0
    margin 0
    // overscroll-behavior none
    height 100%

body
    letter-spacing -1.5px
    font-size 46px
    line-height 50px
    font-family HelveticaNow
    webkit-font-smoothing antialiased
    font-smoothing grayscale

#mainFlow
    position relative
    width 100vw
    height 100%
    overflow hidden

    
.navi
    position fixed
    background #000000
    color #ffffff
    height naviHeight
    width 100%
    z-index 100
    font-weight 600
    .inner
        position absolute
        font-weight 600
        top 50%
        left 50%
        width calc( 100% - 40px )
        transform translate3d( -50%, -50%, 0 )
    &#header
        top 0
        .inner
            #pageTitle
                font-weight 400
                &.main
                    margin-top -5px
                    font-weight 600
    &#footer
        bottom 0
        &[data-navitype="blockPrev"]
            .arrow.left
                opacity 0.5
                pointer-events none
        &[data-navitype="blockNext"]
            .arrow.right
                opacity 0.5
                pointer-events none
        &[data-navitype="first"]
            .arrow.left
                display none
        &[data-navitype="last"]
            .arrow.right
                display none
        .arrow
            line-height 0
            &.left
                float left
            &.right
                float right

.clearfix:after {
    content ""
    display table
    clear both
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


.page
    position absolute
    background #ffffff
    width 100vw
    height 100%
    overflow scroll
    transition transform 0.45s
    transform translate3d( 0vw, 0, 0 )
    &.left
        transform translate3d( -100vw, 0, 0 )
    &.right
        transform translate3d( 100vw, 0, 0 )
    .inner
        margin naviHeight + 20px 20px naviHeight + 20px 20px
    &.active
        display block
p
    &.title
        font-weight 600
    &.wlinebreaks
        white-space pre